.meal{
  background: rgba(#ffe768, 0.2);
  border: 1px solid #ffe768;
  padding: 16px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  min-height: 50px;
  display: flex;
  align-items: center;
  position: relative;

  &--checked{
    opacity: .3;
    .meal__name{text-decoration: line-through;}
  }

  &__name{
    font-size: 16px;
    font-weight: 400;
  }

  &__delete{
    cursor: pointer;
    position: absolute;
    right: 10px;
    
    svg{
      display: block;
      width: 20px;
      height: auto;

      *{stroke: #fae15c;}
    }
  }
}