.actions{
  display: flex;
  margin-bottom: 20px;

  &__select{
    width: 60px;
    background: #f9f9f9;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 10px;
    font-family: 'Lexend', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    -webkit-appearance: none;
  }
}