@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;600&display=swap');

body{
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  padding: 40px;
}

.title{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}