@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;600&display=swap');

body{
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  padding: 30px;
  min-height: 100vh;
}

#root{
  height: 100%;
}

.title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.button{
  font-family: 'Lexend', sans-serif;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  background: #ffe768;
  padding: 16px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  svg{
    display: block;
    width: 16px;
    height: auto;
    margin-right: 10px;
  }
}